.pagination {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: space-between;
  align-items: center;
}

@media screen and (width > 29.6875em) {
  .pagination {
    flex-direction: row;
  }
}

.pagination__result {
  font-size: 1.6rem;
}

.pagination__btnContainer {
  display: flex;
  gap: 1rem;
}

.pagination__btnContainer__btn {
  padding: 1rem;
  background: var(--white);
  border: none;
  border-radius: 0.4rem;
  box-shadow: var(--drop-shadow);
  font-family: "Nunito Sans", sans-serif;
}

.pagination__btnContainer__btn:hover {
  cursor: pointer;
}
