.pagination {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: space-between;
  align-items: center;
}

@media screen and (width > 29.6875em) {
  .pagination {
    flex-direction: row;
  }
}

.pagination__result {
  font-size: 1.4rem;
  color: var(--dark-blue-3);
  transition: all 0.2s;
}

.pagination__result.darkTheme {
  color: var(--white);
}

.pagination__btnContainer {
  display: flex;
  gap: 1rem;
}
