.button {
  width: 100%;
  max-width: 13.6rem;
  min-height: 3.2rem;
  background: var(--white);
  border: none;
  border-radius: 0.2rem;
  box-shadow: var(--drop-shadow-2);
  font-family: "Nunito Sans", sans-serif;
  padding: 1rem;
  transition: all 0.2s;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-0.3rem);
}

.button.darkTheme {
  background: var(--dark-blue-2);
  color: var(--white);
}
