.button {
  width: 13.6rem;
  height: 4rem;
  background: var(--white);
  border: none;
  border-radius: 0.2rem;
  box-shadow: var(--drop-shadow-2);
  font-family: "Nunito Sans", sans-serif;
  padding: 1rem;
  transition: all 0.2s;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-0.3rem);
  background-color: var(--dark-blue-1);
  color: var(--white);
}

.button:hover > a {
  color: var(--white);
}

.button.darkTheme {
  background: var(--dark-blue-2);
  color: var(--white);
}

.button.darkTheme:hover {
  background-color: var(--white);
  color: var(--dark-blue-3);
}

.button.darkTheme:hover > a {
  color: var(--dark-blue-3);
}
