.countriesList {
  padding: 3.2rem 4rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, 26.4rem);
}

/* @media screen and (width > 29.6875em) {
  .countriesList {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media screen and (width > 48em) {
  .countriesList {
    padding: 4.8rem 0;
    gap: 7.4rem;
  }
}
