.header {
  padding: 3rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0562);
  background: var(--white);
  transition: all 0.2s;
}

.header.darkTheme {
  background: var(--dark-blue-1);
}

@media screen and (width > 48em) {
  .header {
    padding: 2.3rem 8.1rem;
  }
}

.header__heading {
  font-size: clamp(1.4rem, 3.7333333333vw, 2.4rem);
  font-weight: 800;
  line-height: calc(20 / 14);
  color: var(--dark-blue-3);
  transition: all 0.2s;
}

.header__heading:hover {
  cursor: pointer;
}

.header__heading.darkTheme {
  color: var(--white);
}

.header__btn {
  display: flex;
  gap: 0.8rem;
  border: none;
  background: transparent;
  color: var(--dark-blue-3);
  transition: all 0.2s;
}

.header__btn.darkTheme {
  color: var(--white);
}

.header__btn:hover {
  cursor: pointer;
}

.header__btnIcon {
  height: 1.6rem;
}

.header__btnIcon path {
  stroke: var(--dark-blue-3);
  transition: all 0.2s;
}

.header__btnIcon.darkTheme path {
  stroke: var(--white);
}
