.countryRoute {
  padding: 4rem 2.8rem;
  background: inherit;
  transition: all 0.2s;
  height: calc(100vh - 8rem);
}

@media screen and (width >= 48em) {
  .countryRoute {
    padding: 4rem 8.1rem;
  }
}

.countryRoute.darkTheme {
  background: var(--dark-blue-2);
}

.countryRoute__btnContainer {
  width: 13.2rem;
}

.countryRoute__container {
  display: grid;
  gap: 4.4rem;
  margin-top: 6.4rem;
}

@media screen and (width >= 64em) {
  .countryRoute__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 90em) {
  .countryRoute__container {
    gap: 14.4rem;
    align-items: center;
  }
}

.countryRoute__flag {
  width: 100%;
  max-width: 56rem;
  border-radius: 0.5rem;
}

.countryRoute__detailsContainer {
  display: grid;
  gap: 1.6rem;
}

.countryRoute__name {
  font-weight: 800;
  font-size: clamp(2.2rem, 5.7142857143rem, 3.2rem);
  color: var(--dark-blue-3);
  transition: all 0.2s;
}

.countryRoute__name.darkTheme {
  color: var(--white);
}

.countryRoute__details {
  display: grid;
  gap: 3.2rem;
  font-size: 1.4rem;
  line-height: calc(32 / 14);
  padding-bottom: 1.8rem;
  color: var(--dark-blue-3);
  transition: all 0.2s;
}

.countryRoute__details.darkTheme {
  color: var(--white);
}

@media screen and (width >= 48em) {
  .countryRoute__details {
    grid-template-columns: repeat(2, max-content);
  }
}

@media screen and (width >= 90em) {
  .countryRoute__details {
    grid-template-columns: repeat(2, 1fr);
  }
}

.countryRoute__paraKey {
  font-weight: 600;
}

.countryRoute__paraValue {
  font-weight: 300;
}

.countryRoute__borderCountries {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.countryRoute__borderCountries__heading {
  font-size: 1.6rem;
  line-height: calc(24 / 16);
  color: var(--dark-blue-3);
}

.countryRoute__borderCountries__heading.darkTheme {
  color: var(--white);
}

.countryRoute__borderCountries__btnContainer {
  display: grid;
  justify-content: start;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 9.6rem);
}
