:root {
  --dark-blue-1: hsl(209, 23%, 22%);
  --dark-blue-2: hsl(207, 26%, 17%);
  --dark-blue-3: hsl(200, 15%, 8%);
  --dark-grey: hsl(0, 0%, 52%);
  --light-grey: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (width < 23.4375em) {
  html {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  box-sizing: border-box;
}
